html {
    
}

body {
    margin: 0 auto;
    max-width: auto;
    
}

.tree-family {
   margin: 0 auto;
    width: 1366px;
   
}

li {
    list-style: none;
}

.family {
    width: 100%;
}

.list-members-family {
  
}

.card-body {
    min-height: 100px;
}

.modal-body {
    height: 300px;
}

.form-select-gender {
    width: 20%;
  
}

.hidden {
    display: none;
}